<!doctype html>
<html>
    <head>
        <h1> {{country_name}} </h1>
    </head>
    <body>
        <p><b>Glasses of wine consumed per person: </b>{{wine}}</p>
        <p><b>Bottles of beer consumed per person: </b>{{beer}}</p>
        <p><b>Shots of spirits consumed per person: </b>{{spirit}}</p>
        <p><b>Total alcohol (litres) consumed per person: </b>{{total}}</p>
        <p><b>Population: </b>{{population}}</p>
        <p><b>GPB (per capita): </b>{{gpd}}</p>
        <p><b>Area (square meters): </b>{{area}}</p>
    </body>
</html>