{% extends "base.html" %}
{% block content %}
<div class="selection-menu">
    <form method="GET" action="/ranking/">
        {% for selection in selections %}
        <label> {{selection.display_name}} </label>
        <select class="inline-block-child" name= {{selection.name}}>
            {% for option in selection.options %}
                <option value="{{option.query_name}}">{{option.display_name}}</option>
            {% endfor %}
        </select>
        {% endfor %}
        <label class="inline-block-child" for="limit">Show Only:</label>
        <input class="inline-block-child" id="limit" type="text" name="limit">
        <input class="inline-block-child" type="submit">
    </form> 
</div>
<table style="width:100%">
    {% for country in countries %}
    <tr>
        <td>
            <p class="inline-block-child"> {{country.order_index}}. </p>
            <a class='inline-block-child' href="/info/{{country.country_route}}">
                <h3>{{ country.country_name }}</h3>
            </a>
            <p class='inline-block-child'>
                {{country.criteria_ranked}}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}