<!doctype html>
<html>
    <style>
        td {
            border-bottom:1px solid black;
        }
        .inline-block-child {
            display: inline-block;
            margin-left: 20px;
            margin-right: 10px;
        }
        a {
            color: black;
        }
        h1 {
            text-align: center;
        }
    </style>
    <head>
        <h1> Countries of the World </h1>
    </head>
    <body>
        <form method="GET" action="/ranking/">
            <select class="inline-block-child" name= "chosen_criteria">
                {% for chosen_criteria in criterias %}
                    <option value="{{chosen_criteria}}">{{chosen_criteria}}</option>"
                {% endfor %}
            </select>
            <select class="inline-block-child" name="order">
                {% for order in orders %}
                    <option value="{{order}}">{{order}}</option>"
                {% endfor %}
            </select>
            <input class="inline-block-child" type="submit">
        </div>
        
        <table style="width:100%">
            {% for country in countries %}
            <tr>
                <td>
                    <p class="inline-block-child"> {{country.order_index}}. </p>
                    <a class='inline-block-child' href="/info/{{country.country_route}}">
                        <h3>{{ country.country_name }}</h3>
                    </a>
                    <p class='inline-block-child'>
                        {{country.criteria_ranked}}
                    </p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>